.recent-posts {
    margin-bottom: 0px;
    bottom: 0px;

    .image {
        width: 100%;
        height: 400px;
    }

    .titlee {
        font-size: 25px;
        margin: 0 auto;
        padding: 10px;
        padding-top: 20px;
        text-align: center;
        color: orange;
    }
    .title {
        font-size: 25px;
        margin: 0 auto;
        padding: 10px;
        padding-top: 20px;
        color: orange;
    }
    a:hover {
        color: hotpink;
        text-decoration: none;
        text-transform: capitalize;
        text-shadow: hue($color: #000000);
    }

    p {
        margin-top: 10px;
    }
    .index-image {
        width: 100%;
        height: auto;
        display: block;
    }
 
}

.posts {

    .images {
        width: 100%;
        height: auto;
    }

    .titlee {
        font-size: 20px;
        padding: 10px;
        padding-top: 20px;
        text-decoration: none;
        color: orange;
        a:hover {
            text-decoration: none;
            text-transform: capitalize;
        }
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .posts {

        .titlee {
        font-size: 20px;
        padding: 10px;
        padding-top: 20px;
       }
       .images {
           width: 100%;
           height: auto;
           display: flex;
           align-items: center;
           justify-content: center;
           position: relative;
       }

   }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
      .posts {

        .titlee {
        font-size: 20px;
        padding: 10px;
        padding-top: 20px;
       }
        .images {
           width: 100%;
           height: auto;
       }

   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     .posts {

        .titlee {
        font-size: 20px;
        padding: 10px;
        padding-top: 20px;
       }
         .images {
           width: 100%;
           height: auto;
       }

   }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     .posts {

        .titlee {
        font-size: 20px;
        padding: 10px;
        padding-top: 20px;
       }
         .images {
           width: 100%;
           height: auto;
       }

   }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     .posts {

        .titlee {
        font-size: 20px;
        padding: 10px;
        padding-top: 20px;
       }
         .images {
           width: 100%;
           height: auto;
       }

   }
}
